.env
.venv/
*.egg-info/
*.egg/
*.DS_Store/
*.ipynb_checkpoints/
*.swp
*.swo
*.swn
*.swn-swp
*.swx
*.bak
*.orig
*.rej
*.tmp
*.log
*.out
*.aux
*.toc
*.bbl
*.blg
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
__pycache__/
*.pyc 