langchain-core==0.3.65
langsmith==0.3.45
langgraph==0.4.3
langchain-google-genai
google-generativeai
python-dotenv
streamlit
pymongo
chromadb==1.0.12
langchain-chroma==0.2.4
sentence-transformers
pysqlite3-binary
langgraph[mongodb]